
<div class="message <%= local_assigns[:css_class] %>" id="message-<%= message.id %>" data-sender-id="<%= message.user.id %>">
  <p class="message-text"><%= message.content %></p>
  <p class="datetime-chat"><%= message.created_at.strftime("%H:%M") %></p>
</div>
