<div class="profile-index-main-container">

  <div class="orange-buttons-container">
  </div>

  <div class="map-container d-flex justify-content-center">

    <%= button_to "People", profiles_path, class: "btn-people btn-orange btn", disabled: true %>
    <%= link_to "Events", events_path, class: "btn-events btn-orange btn" %>

    <div class="map" style="width: 100%; height: 400px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <div class="profile-mini-card-container">
    <div class="container-searchbar">
      <%= render 'components/searchbar' %>
    </div>
    <%= render 'components/profile-mini-card' %>
  </div>
</div>
