

<%= link_to "chat",   profile_chats_path(@user), method: :post %>

<div class="main-container">

  <div class="profilepic-container">
    <%# cl_image_tag @user.photo.key %>
    <%if @user.photo.attached? %>
      <%= cl_image_tag(@user.photo.key, class: 'profilepic') %>
    <% else %>
      <%= image_tag("placeholder.png", class: 'profilepic' ) %>
    <% end %>
    <h1 class="username"><%= @user.username %></h1>
  </div>

  <div class="description-container">

    <h2>About</h2>
    <p><%= @user.description %></p>

    <h2>Keywords</h2>
    <div class="keywords-container">
      <% @user.tags.each do |tag| %>
        <p class="usertag-on-user-show"><%= tag.name %></p>
      <% end %>
    </div>
    <a class="btn btn-pink btn-profile" href="<%# users_path %>">Connect</a>
  </div>


</div>
