<% content_for :meta_title, "#{@user.username} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @user.description %>
<% content_for :meta_image, cl_image_path("logo.png") %>

<div class="profile-show-main-container">

  <div class="profilepic-container">
    <%# cl_image_tag @user.photo.key %>
    <%if @user.photo.attached? %>
      <%= cl_image_tag(@user.photo.key, class: 'profilepic') %>
    <% else %>
      <%= image_tag("placeholder.png", class: 'profilepic' ) %>
    <% end %>
    <h1 class="username"><%= @user.username %></h1>
  </div>

  <div class="description-container">

    <h2>About</h2>
    <p><%= @user.description %></p>

    <div class="keywords-container">
      <% @user.tags.each do |tag| %>
        <p class="usertag-on-user-show"><%= tag %></p>
      <% end %>
    </div>
    <% if @chat %>
       <%= link_to "Connect!", chat_path(@chat) ,class: "btn btn-pink btn-profile" %>
       <% else %>
    <%= link_to "Connect!",  profile_chats_path(@user), method: :post ,class: "btn btn-pink btn-profile" %>
    <% end %>
  </div>
</div>
