<%# require 'time'
require 'date' %>

<% @events.each do |event| %>
  <%=link_to event_path(event) do %>
  <div class="event-mini-card" style="width: 90%">
    <% if event.user.photo.attached?%>
      <div>
        <%=cl_image_tag event.user.photo.key, class:"avatar-large"%>
      </div>
    <% else %>
      <div>
        <%= image_tag("placeholder.png", class: 'avatar-large' )%>
      </div>
    <%end%>
    <div class="event-mini-card-infos">
      <h2><%=event.name%></h2>

      <% event.tags.each do |eventtag| %>
        <p class="eventtag-on-event"><%= eventtag.name %></p>
      <% end %>

    </div>

<%# Display event start/end date + start/end time %>
    <div class="event-date-and-time">
      <%# if ending_date != starting_date, display ending_date %>
      <% if event.ending_date != event.starting_date %>
        <p><%= event.starting_date.strftime("%a %d %B") %> - <%= event.ending_date.strftime("%a %d %B") %></p>
      <%# else display only starting_date %>
      <% else %>
        <p><%= event.starting_date.strftime("%a %d %B") %></p>
      <% end %>
      <p><%= event.starting_time.strftime("%H:%M") %>-<%= event.ending_time.strftime("%H:%M") %></p>
    </div>

<%# Display FREE or PRICE %>
    <div class="eventprice">
      <% if !event.free %>
        <p><%= event.price %> €</p>
      <% else %>
        <p>free</p>
      <% end %>
    </div>

  </div>
  <% end %>
 <% end %>
