
<div class="navbar">

  <%= link_to chats_path do %>
    <%= image_tag "message_icon.png" %>
  <% end %>
  <%= link_to profiles_path do %>
    <%= image_tag "map_icon.png" %>
  <% end %>
  <div class="dropup">
    <a href="#" class="dropbtn"><%= image_tag "more_options_icon.png"%></a>
      <div class="dropup-content">
        <%= link_to "My profile", dashboard_path(current_user) %>
        <%= link_to "My events", participants_path(current_user)%>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
  </div>
</div>
