<% @users.each do |user| %>
  <%=link_to profile_path(user) do %>
  <div class="profile-mini-card">
    <% if user.photo.attached?%>
      <div>
        <%=cl_image_tag user.photo.key, class:"avatar-large"%>
      </div>
    <% else %>
    <div>
      <%= image_tag("placeholder.png", class: 'avatar-large' )%>
    </div>
    <%end%>
    <div class="profile-mini-card-infos">
      <div class="username-mini-card">
        <h2><%=user.username%></h2>
      </div>
      <div class="homepage-keywords-container">
      <% user.tags.each do |usertag| %>
        <p class="usertag-on-user-index"><%= usertag.name %></p>
      <% end %>
      </div>
    </div>
    <div class="distance">
      <% if user.location %>
      <p><%=user.distance_to("Berlin").truncate(1)%> km</p>
      <% end %>
    </div>
  </div>
  <% end %>
 <% end %>
