<div class="event-index-main-container">

  <div class="orange-buttons-container">
  </div>

  <div class="map-container d-flex justify-content-center">

    <%= link_to "Show people", profiles_path, class: "btn-people btn-orange btn" %>

    <div class="map" style="width: 100%; height: 400px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <div class="search">
    <div class="wrap">
      <%= form_tag events_path, method: :get do %>
        <div class="search">
          <div>
            <%= text_field_tag :query,
              params[:query],
              class: "searchTerm",
              placeholder: "Search Events ",
              class: "searchbar"
            %>
          </div>
          <div>
            <%= submit_tag "Search", class: "btn btn-searchbar-events" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="event-mini-card-container">
    <div>
      <%= render 'components/event-mini-card' %>
    </div>
  </div>
</div>
