

<div class="container chat" data-controller="chat-subscription" data-chat-subscription-chat-id-value="<%= @chat.id %>">
  <h1>#<%= @chat.sender.username%></h1>

  <div class="messages" data-chat-subscription-target="messages" >

    <% @chat.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>
  <div>
   <%= simple_form_for [@chat, @message],
    remote: true,
    html: {data: {chat_subscription_target: "form"}, class: "d-flex"} do |f|%>
    <%= f.input :content,
      label: false,
      placeholder: "Message ##{@chat.sender.username}",
      wrapper_html: {class: "flex-grow-1"},
      input_html: {data: {chat_subscription_target: "input"}}
    %>
    <%= f.submit "Send", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
