<div class="container-homepage">
  <div class="top-bar">
    <div class="container margin-logo-home">
      <%= image_tag "logo.png", class: "homepage-logo" %>
    </div>
  </div>
  <div class="homepage-background" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path "drawinggirl.png"%>);">
    <!--insert searchbar -->
    <%= link_to "Connect", "#", class: "btn btn-homepage" %>
  </div>
  <%= render 'components/navbar' %>
</div>
<<<<<<< HEAD
=======

<!--insert searchbar -->
<%= link_to "Connect", "#", class: "btn btn-homepage" %>
>>>>>>> 191b7dd2f5b07989425bbb55984462fc4c4de76e
