<div class="top-bar">
  <div class="container margin-logo-home">
    <%= image_tag "logo.png", class: "homepage-logo" %>
  </div>
</div>

<div class="homepage-background" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path "drawing_girl.png"%>);">
  <div class="wrap">
    <%= form_tag profiles_path, method: :get do %>
      <div class="search">
        <div>
          <%= text_field_tag :query,
            params[:query],
            class: "searchTerm",
            placeholder: "type city",
            class: "searchbar"
          %>
        </div>
        <div>
          <%= submit_tag "Connect!", class: "btn btn-homepage" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
